.panel {
    font-family: Arial;
    size: 0.8em;
    box-sizing: border-box;
    width: 500px;
    padding: 15px;
}
.panel__primary {
    border: 2px solid #337ab7;
    border-radius: 4px;
    color: white;
    background-color: #337ab7;
    box-shadow: 10px 10px 10px grey;
}
.panel__success {
    border-radius: 4px;
    border: 2px solid #d6e9c6;
    color: #3c7641;
    background-color: #dff0d8;
    box-shadow: 10px 10px 10px grey;
}
.panel__info{
    border-radius: 4px;
    border: 2px solid #bce8f1;
    color: #317095;
    background-color: #d9edf7;
    box-shadow: 10px 10px 10px grey;
}
.panel__warning{
    border-radius: 4px;
    border: 2px solid #fbf5de;
    color: #d0b072;
    background-color: #fcf8e3;
    box-shadow: 10px 10px 10px grey;
}
.panel__danger{
    border-radius: 4px;
    border: 2px solid #f0dadb;
    color: #aa4c54;
    background-color: #f2dede;
    box-shadow: 10px 10px 10px grey;
}

.panel--header {
    color: black;
    background-color: white;
}

.panel__center {
    border: solid 1px;
    float: left;
    display: inline-block;
    font-family: verdana;
    padding: 8px;
    color: #6E6E6E;
    border-color: #848484;
}
.panel__center:hover{
    background-color: gainsboro;
}
.panel--left{
    border-radius: 3px 0 0 3px; 
}
.panel--right{
    border-radius: 0 3px 3px 0;
}